<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>Id</td>
				<td>Título</td>
			</tr>
			<% for ( n of noticias ) { %>
				<tr>
					<td><%= n.id_noticia %></td>
					<td><%= n.titulo %></td>
				</tr>
			<% } %>
		</table>
	</body>
</html>