<div id="pergaminhos">					
	<h3>Pergaminhos</h3>
	
	<ul>
		<% for(var i = 0; i < actions.length; i++) { %>
			<%
				var actionDescription = '';
				
				switch(parseInt(actions[i].actionId)){
					case 1: actionDescription = " aldeão(ões) coletando recursos"; break;
					case 2: actionDescription = " enforcamento(s) programado"; break;
					case 3: actionDescription = " aldeão(ões) em treinamento de história "; break;
					case 4: actionDescription = " aldeão(ões) em treinamento de magia"; break;
				}
				var date = new Date();
				var currentTime = date.getTime();
				var endsat = Math.round((actions[i].action_ends_at - currentTime) / 1000);
			%>

			<li><%= actions[i].qtd %> <%= actionDescription %> - 
				<small>restam <span class="seconds_left"><%= endsat %></span> segundos - 
					<a href="#">revogar ordem</a>
				</small>
			</li>
		<% } %>
	</ul>
</div>